@import url('https://fonts.googleapis.com/css?family=Muli:400,700,800&display=swap');
// $primary-color: #0a94f1;
// $font-color: #95989a;
// $header-bg: #0a94f1;
// $header-bg: #fff;
$menu-width: 250px !default;
$header-text: #fff;

/* BASE */

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
.header {
	// background-color: rgba($color: #000000, $alpha: 0.2);
  font-family: "Muli", sans-serif;
 

  height: 9rem;

  line-height: 6rem;
  
  // background-color: $header-bg;
.img-logo{
  height:70px;
  
}
  .logo {
    // margin: 0;
    
    line-height: 150%;
   


    font-weight: bold;
    a {
      text-decoration: none;
      height: 100%;
    }

    a:hover {
    }
  }
}

// .header__logo {
// 	font-weight: 700;
// 	padding: 0 25px;
// 	float: left;
// }

/* MENU */
.menu {
  // margin-left:10vh;
  @media(min-width:1200px){
    margin-left:10vh !important;
  }
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing:.1rem;
  float: right;
  color: $header-text;
  a {
    line-height: 1rem;
    // padding: 20px 15px;
    text-decoration: none;
  }

  a:hover {
	  color:#bcbcbd;
  }
}

@media only screen and (min-width: 768px) {
  .carousel-item {
    img {
      height: 90vh;
    }
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .site-pusher,
  .site-container {
    height: 100%;
  }

  .site-container {
    
  }

  .site-pusher {
    transition-duration: 0.3s;
  }

  .site-content {
    display:none !important;
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .header {
    // position: static;
  }

  .header__icon {
    // position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    z-index: 99;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 2rem;
      height: 0;
      top: 18px;
      left: 15px;
      // @include
      box-shadow: 0 9px 0 1.8px #444, 0 16px 0 1.8px #444, 0 23px 0 1.8px #445;
    }
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    // background-color: darken($header-bg, 5);
    /*    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
    // background-color: rgba($color: #000000, $alpha: .7);
    width: $menu-width;

    // @include
    transform: translateX($menu-width * -1);
    a {
      display: block;
      height: 40px;

      text-align: center;
      // line-height: 40px;
      padding: 10px 0 !important;
      //   border-bottom: 1px solid $header-bg;
    }
  }

  .with--sidebar {
    .site-pusher {
      transform: translateX($menu-width);
    }
    .site-cache {
      
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index:9;
    }
  }
}
