@import "header";
$yellow-color: linear-gradient(to right, #ffcd73 0%, #f3b74c 51%, #d9a444 100%);
$purple-color: linear-gradient(to right, #828fd3 0%, #5e6dbe 51%, #5461aa 100%);
$heading-text: #444;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



html{
  overflow-x:hidden;
  scroll-behavior: smooth;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(#000, 0.4);
}
.p-lead {
  color: #444444;
  font-size: 1.6rem;
  line-height: 180%;
}
.p-small {
  color: #333;
  font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif !important;
  font-weight: 800 !important;
}
h1 {
  font-size: 5rem;
  @media (max-width: 1400px) {
    font-size: 4rem;
  }
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3.5rem;
}
h5 {
  font-size: 3rem;
}
h6 {
  font-size: 2rem;
}
.heading-text {
  color: $heading-text;
}

html {
  //this defines what 1rem is
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Muli", sans-serif !important;
  color: white;

}

.nav-open {
  overflow-y: hidden;
  max-height: 100vh; 
}

#banner {
  .banner-right {
    img {
    }
  }
  .banner-left {
    margin-top: 8vh;
    @media (max-width: 767px) {
      margin-top: 0vh !important;
    }
    @media (max-width: 1400px) {
      margin-top: 20vh;
    }
    h1 {
      font-size: 5rem;
    }
  }
  #m {
    // margin-top: 15vh;
    @media (min-width: 1400px) {
      margin-top: 15vh;
    }
  }
  background-color: #f7f7f7;
  .banner-group {
    @media (max-width: 767px) {
      margin-top: 10%;
    }
    .man {
      z-index: 1;
      top: 50%;
      left: -6%;
      @media (max-width: 767px) {
        left: -10%;
        top: 40%;
      }
    }
    .banner-card {
      top: -40%;
      // left:20%;
      @media (max-width: 767px) {
        left: 0%;
      }
    }
    .woman {
      left: 55%;
      top: 10%;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  // height: 100vh  ;

  // background-size: contain;
  // background-image: url("../images/wave-separator-white.png");
  // background-position-y: 109%;

  background-repeat: no-repeat;
  @media (max-width: 1400px) {
    // height: 120vh;
  }
  @media (max-width: 767px) {
    #banner {
      height: 100vh;
    }
    #m {
      h1 {
        text-align: center;
        font-size: 4rem;
      }
      .container {
        .text-uppercase {
          .col-md-8 {
            .row {
              .mt-3 {
                text-align: center !important;
              }
            }
          }
        }
      }

      margin-top: 5vh !important;
      @media (max-width: 320px) {
        margin-top: 0vh !important;
      }
    }
  }
}
.yellow-btn {
  background-image: $yellow-color;
  &:hover {
    background-image: linear-gradient(to right, #f3b74c 0%, #d9a444 100%);
  }
}
.purple-btn {
  background-image: $purple-color;
  &:hover {
    background-image: linear-gradient(to right, #5e6dbe 0%, #5461aa 100%);
  }
}
.btn {
  font-size: 1.5rem;
  border-radius: 45px;
  transition: 0.2s;
  &:hover {
    transform: translateY(-3px);
  }
}
.highlight-yellow {
  z-index: 1;
  position: relative;
  &::after {
    background-color: #ffc050;
    content: "";
    position: absolute;
    top: 62%;
    content: "";
    position: absolute;
    height: 35%;
    width: 100%;
    left: 0px;
    z-index: -1;
  }
}
.highlight-purple {
  position: relative;
  z-index: 1;
  &::after {
    background-color: #6272c7;
    content: "";
    position: absolute;
    content: "";
    top: 62%;
    position: absolute;
    height: 35%;
    width: 100%;
    left: 0px;
    z-index: -1;
  }
}

#details {
  h5 {
    letter-spacing: -1px;
  }
  .border {
    transition: 0.3s;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    .row {
      .w-75 {
        .heading-text {
          .highlight-yellow:after {
            width: 10%;
            transition: 0.3s;
            @media (max-width: 768px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .border:hover {
    // border: 0px 15px 33px 0 rgba(0,0,0,.14);
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.14);
    border: 0;
    transform: translateY(-10px);
    transform: scale(1.05);
    .row {
      .w-75 {
        .heading-text {
          .highlight-yellow:after {
            width: 100%;
          }
        }
      }
    }
  }
  .details-img {
    // background-image: url("../images/details.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
#kick-start {
  background-image: url("../images/kick.jpg");
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
}

#process {
  .icon-outer {
    height: 225px;
    width: 225px;

    border: 2px solid #5461aa;
    .icon-inner,
    .icon-inner-hover {
      height: 100px;
      width: 100px;
      // background-color: #828fd3;
      background-color: #5e6dbe;
      // background-color: #d9a444;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      .fas {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        // z-index:900;
      }
    }
    .icon-inner {
      z-index: -1;
    }
    .icon-inner-hover {
      z-index: 1;
      width: 0px;
      height: 0px;
      background-color: #828fd3;
      transition: 0.3s;
      @media (max-width: 768px) {
        width: 155px;
        height: 155px;
      }
    }
  }
  .animate {
    .mx-auto {
      .heading-text {
        .highlight-yellow:after {
          width: 10%;
          transition: 0.3s;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }
  .animate:hover {
    .mx-auto {
      .heading-text {
        .highlight-yellow::after {
          width: 100%;
        }
      }
    }
    .icon-outer {
      .icon-inner-hover {
        height: 155px;
        width: 155px;

        background-color: rgba($color: #828fd3, $alpha: 0.7);
      }
    }
  }
}

#contact {
  height: 500px;
  // background-image: url("../images/wave-separator-footer.png");
  background-repeat: no-repeat;

  input,
  textarea {
    outline: none;
    border-radius: 45px;
    font-size: 1.6rem;
    padding: 12px 18px;
    // border:1px solid #c7c7c4;
    border: 1px solid #eaeaea !important;
    color: #333 !important;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
    transition: all 0.3s;
  }
  textarea {
    border-radius: 10px;
  }
  input:focus {
    border-color: #ffc050 !important;
  }
  textarea:focus {
    border-color: #ffc050 !important;
  }
}
#seperator{
  border-bottom:.5px solid #081f26;
}

footer {

  p {
    font-size: 1.8rem;
  }
  background-color: #081f26;
  .quicklinks{
    li {
      list-style: none;
      font-size: 1.8rem;
      .f-hover::before {
        position: absolute;
        top: 100%;
        width: 107%;
        font-weight: bold;
        content: attr(data-hover);
      }
      a {
        text-decoration: none !important;
        width: 107%;
        display: inline-block;
        position: relative;
        overflow: hidden;
  
        span {
          position: relative;
          display: inline-block;
          transition: transform 0.3s;
          width: 107%;
  
          &::before {
            position: absolute;
            top: 100%;
            content: attr(data-hover);
            font-weight: 800;
          }
        }
  
        &:hover span{
        transform: translateY(-100%);
        color:#ffc050;
        }
      }
    }
   
  }
.contact{
  li{
    list-style: none;
    font-size: 1.8rem;
    a:hover{
      text-decoration: none;
      color:white
    }
  }
}
}


#services{
  .border{
    ul{
      li{
        list-style:none;
        font-size:1.8rem;
      }
    }
    &:hover{
      box-shadow: 0 5px 30px 0 rgba(0,0,0,.1);
      transition: 0.3s;
      transform: translateY(-5px);
    }
  }
 
}
#back-to-top{
  z-index:99;
  background-color:#ffc050;
  border-radius: 5%;
  height:40px;
  width:40px;
  position:fixed;
  top:88%;
  right: 2%;
  transition: 0.3s all;
  display: none;
@media(max-width:767px){
  top:92%;
  left:83%;
}

  transform:rotate(270deg);
  a{
   position:absolute;
    transform: translate(-50%,-50%);
    top:48%;
    left:50%;
    font-size:2rem;
 
    @media(max-width:767px){
      top:48%;
    }

   
  &:hover{
    text-decoration: none;
    color:#444;
  }
  }
}

.notification {
  z-index: 99;
  top: 5%;
  right: 5%;
  width: 400px;
  border-radius: 2%;
  font-size: 16px;
  transition: 0.5s all;

  &.show-alert {
    opacity: 1;
  }


  @media(max-width:767px){
    width: 90%;
  }
}

.success {
  border: 2px solid #25D366;
  opacity: 0;
}

.fail {
  border: 1px solid rgb(228, 30, 30);
  opacity: 0;
}

#form {
  p {
    display: none;
  }

  .is-invalid {
    display: block;
    font-size: 12px;
  }
}


.fa-facebook-square:hover{
  color:#3b5998;
}


.fa-whatsapp-square:hover{
  color:  #25D366;
}

.fa-instagram:hover{
  color:#E1306C;
}

@media(max-width:767px){
  .img-logo{
    height:50px !important;
  }
  .fa-facebook-square{
    color:#3b5998;
  }
  
  
  .fa-whatsapp-square{
    color:  #25D366;
  }
  
  .fa-instagram{
    color:#E1306C;
  }
}