@import url("https://fonts.googleapis.com/css?family=Muli:400,700,800&display=swap");
/* BASE */
a {
  text-decoration: none;
  color: inherit; }

/* HEADER */
.header {
  font-family: "Muli", sans-serif;
  height: 9rem;
  line-height: 6rem; }
  .header .img-logo {
    height: 70px; }
  .header .logo {
    line-height: 150%;
    font-weight: bold; }
    .header .logo a {
      text-decoration: none;
      height: 100%; }

/* MENU */
.menu {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: .1rem;
  float: right;
  color: #fff; }
  @media (min-width: 1200px) {
    .menu {
      margin-left: 10vh !important; } }
  .menu a {
    line-height: 1rem;
    text-decoration: none; }
  .menu a:hover {
    color: #bcbcbd; }

@media only screen and (min-width: 768px) {
  .carousel-item img {
    height: 90vh; } }
/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .site-pusher,
  .site-container {
    height: 100%; }

  .site-pusher {
    transition-duration: 0.3s; }

  .site-content {
    display: none !important;
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }

  .header__icon {
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    z-index: 99;
    cursor: pointer; }
    .header__icon:after {
      content: "";
      position: absolute;
      display: block;
      width: 2rem;
      height: 0;
      top: 18px;
      left: 15px;
      box-shadow: 0 9px 0 1.8px #444, 0 16px 0 1.8px #444, 0 23px 0 1.8px #445; }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /*    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
    width: 250px;
    transform: translateX(-250px); }
    .menu a {
      display: block;
      height: 40px;
      text-align: center;
      padding: 10px 0 !important; }

  .with--sidebar .site-pusher {
    transform: translateX(250px); }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9; } }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4); }

.p-lead {
  color: #444444;
  font-size: 1.6rem;
  line-height: 180%; }

.p-small {
  color: #333;
  font-size: 1.4rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif !important;
  font-weight: 800 !important; }

h1 {
  font-size: 5rem; }
  @media (max-width: 1400px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 4.5rem; }

h3 {
  font-size: 4rem; }

h4 {
  font-size: 3.5rem; }

h5 {
  font-size: 3rem; }

h6 {
  font-size: 2rem; }

.heading-text {
  color: #444; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Muli", sans-serif !important;
  color: white; }

.nav-open {
  overflow-y: hidden;
  max-height: 100vh; }

#banner {
  background-color: #f7f7f7;
  background-repeat: no-repeat; }
  #banner .banner-left {
    margin-top: 8vh; }
    @media (max-width: 767px) {
      #banner .banner-left {
        margin-top: 0vh !important; } }
    @media (max-width: 1400px) {
      #banner .banner-left {
        margin-top: 20vh; } }
    #banner .banner-left h1 {
      font-size: 5rem; }
  @media (min-width: 1400px) {
    #banner #m {
      margin-top: 15vh; } }
  @media (max-width: 767px) {
    #banner .banner-group {
      margin-top: 10%; } }
  #banner .banner-group .man {
    z-index: 1;
    top: 50%;
    left: -6%; }
    @media (max-width: 767px) {
      #banner .banner-group .man {
        left: -10%;
        top: 40%; } }
  #banner .banner-group .banner-card {
    top: -40%; }
    @media (max-width: 767px) {
      #banner .banner-group .banner-card {
        left: 0%; } }
  #banner .banner-group .woman {
    left: 55%;
    top: 10%; }
    @media (max-width: 767px) {
      #banner .banner-group .woman {
        display: none; } }
  @media (max-width: 767px) {
    #banner #banner {
      height: 100vh; }
    #banner #m {
      margin-top: 5vh !important; }
      #banner #m h1 {
        text-align: center;
        font-size: 4rem; }
      #banner #m .container .text-uppercase .col-md-8 .row .mt-3 {
        text-align: center !important; } }
  @media (max-width: 767px) and (max-width: 320px) {
    #banner #m {
      margin-top: 0vh !important; } }

.yellow-btn {
  background-image: linear-gradient(to right, #ffcd73 0%, #f3b74c 51%, #d9a444 100%); }
  .yellow-btn:hover {
    background-image: linear-gradient(to right, #f3b74c 0%, #d9a444 100%); }

.purple-btn {
  background-image: linear-gradient(to right, #828fd3 0%, #5e6dbe 51%, #5461aa 100%); }
  .purple-btn:hover {
    background-image: linear-gradient(to right, #5e6dbe 0%, #5461aa 100%); }

.btn {
  font-size: 1.5rem;
  border-radius: 45px;
  transition: 0.2s; }
  .btn:hover {
    transform: translateY(-3px); }

.highlight-yellow {
  z-index: 1;
  position: relative; }
  .highlight-yellow::after {
    background-color: #ffc050;
    content: "";
    position: absolute;
    top: 62%;
    content: "";
    position: absolute;
    height: 35%;
    width: 100%;
    left: 0px;
    z-index: -1; }

.highlight-purple {
  position: relative;
  z-index: 1; }
  .highlight-purple::after {
    background-color: #6272c7;
    content: "";
    position: absolute;
    content: "";
    top: 62%;
    position: absolute;
    height: 35%;
    width: 100%;
    left: 0px;
    z-index: -1; }

#details h5 {
  letter-spacing: -1px; }
#details .border {
  transition: 0.3s;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05) !important; }
  #details .border .row .w-75 .heading-text .highlight-yellow:after {
    width: 10%;
    transition: 0.3s; }
    @media (max-width: 768px) {
      #details .border .row .w-75 .heading-text .highlight-yellow:after {
        width: 100%; } }
#details .border:hover {
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.14);
  border: 0;
  transform: translateY(-10px);
  transform: scale(1.05); }
  #details .border:hover .row .w-75 .heading-text .highlight-yellow:after {
    width: 100%; }
#details .details-img {
  background-size: contain;
  background-repeat: no-repeat; }

#kick-start {
  background-image: url("../images/kick.jpg");
  height: 50vh;
  background-size: cover;
  background-attachment: fixed; }

#process .icon-outer {
  height: 225px;
  width: 225px;
  border: 2px solid #5461aa; }
  #process .icon-outer .icon-inner,
  #process .icon-outer .icon-inner-hover {
    height: 100px;
    width: 100px;
    background-color: #5e6dbe;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
    #process .icon-outer .icon-inner .fas,
    #process .icon-outer .icon-inner-hover .fas {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%; }
  #process .icon-outer .icon-inner {
    z-index: -1; }
  #process .icon-outer .icon-inner-hover {
    z-index: 1;
    width: 0px;
    height: 0px;
    background-color: #828fd3;
    transition: 0.3s; }
    @media (max-width: 768px) {
      #process .icon-outer .icon-inner-hover {
        width: 155px;
        height: 155px; } }
#process .animate .mx-auto .heading-text .highlight-yellow:after {
  width: 10%;
  transition: 0.3s; }
  @media (max-width: 768px) {
    #process .animate .mx-auto .heading-text .highlight-yellow:after {
      width: 100%; } }
#process .animate:hover .mx-auto .heading-text .highlight-yellow::after {
  width: 100%; }
#process .animate:hover .icon-outer .icon-inner-hover {
  height: 155px;
  width: 155px;
  background-color: rgba(130, 143, 211, 0.7); }

#contact {
  height: 500px;
  background-repeat: no-repeat; }
  #contact input,
  #contact textarea {
    outline: none;
    border-radius: 45px;
    font-size: 1.6rem;
    padding: 12px 18px;
    border: 1px solid #eaeaea !important;
    color: #333 !important;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
    transition: all 0.3s; }
  #contact textarea {
    border-radius: 10px; }
  #contact input:focus {
    border-color: #ffc050 !important; }
  #contact textarea:focus {
    border-color: #ffc050 !important; }

#seperator {
  border-bottom: .5px solid #081f26; }

footer {
  background-color: #081f26; }
  footer p {
    font-size: 1.8rem; }
  footer .quicklinks li {
    list-style: none;
    font-size: 1.8rem; }
    footer .quicklinks li .f-hover::before {
      position: absolute;
      top: 100%;
      width: 107%;
      font-weight: bold;
      content: attr(data-hover); }
    footer .quicklinks li a {
      text-decoration: none !important;
      width: 107%;
      display: inline-block;
      position: relative;
      overflow: hidden; }
      footer .quicklinks li a span {
        position: relative;
        display: inline-block;
        transition: transform 0.3s;
        width: 107%; }
        footer .quicklinks li a span::before {
          position: absolute;
          top: 100%;
          content: attr(data-hover);
          font-weight: 800; }
      footer .quicklinks li a:hover span {
        transform: translateY(-100%);
        color: #ffc050; }
  footer .contact li {
    list-style: none;
    font-size: 1.8rem; }
    footer .contact li a:hover {
      text-decoration: none;
      color: white; }

#services .border ul li {
  list-style: none;
  font-size: 1.8rem; }
#services .border:hover {
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transform: translateY(-5px); }

#back-to-top {
  z-index: 99;
  background-color: #ffc050;
  border-radius: 5%;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 88%;
  right: 2%;
  transition: 0.3s all;
  display: none;
  transform: rotate(270deg); }
  @media (max-width: 767px) {
    #back-to-top {
      top: 92%;
      left: 83%; } }
  #back-to-top a {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
    font-size: 2rem; }
    @media (max-width: 767px) {
      #back-to-top a {
        top: 48%; } }
    #back-to-top a:hover {
      text-decoration: none;
      color: #444; }

.notification {
  z-index: 99;
  top: 5%;
  right: 5%;
  width: 400px;
  border-radius: 2%;
  font-size: 16px;
  transition: 0.5s all; }
  .notification.show-alert {
    opacity: 1; }
  @media (max-width: 767px) {
    .notification {
      width: 90%; } }

.success {
  border: 2px solid #25D366;
  opacity: 0; }

.fail {
  border: 1px solid #e41e1e;
  opacity: 0; }

#form p {
  display: none; }
#form .is-invalid {
  display: block;
  font-size: 12px; }

.fa-facebook-square:hover {
  color: #3b5998; }

.fa-whatsapp-square:hover {
  color: #25D366; }

.fa-instagram:hover {
  color: #E1306C; }

@media (max-width: 767px) {
  .img-logo {
    height: 50px !important; }

  .fa-facebook-square {
    color: #3b5998; }

  .fa-whatsapp-square {
    color: #25D366; }

  .fa-instagram {
    color: #E1306C; } }

/*# sourceMappingURL=index.css.map */
